$page-background: #fcfcfc;
$navbar-background: #42c8d2;
$nav-item-active: #3fbec8;
$dark-grey-title: #484b4b;
$paragraph-color: #979797;

//dark mode
$page-background-darkmode: #3e3ea2;
$navbar-background-darkmode: #305ede;
$nav-item-active-darkmode: #2d56c8;

//cards
$card-container-title: #65e1d6;
$card-background: #c4f3ef;
$card-text-background: #f6f6f6;
$card-text-color: #42c8d2;

$card-container-title-darkmode: #e4d5ff;
$card-background-darkmode: #7986de;
$card-text-background-darkmode: #92afff;

//theme switcher
$sun-color: #fefe44;
$sun-background: #b8f3ff;
$moon-color: #dfdfe9;
$moon-background: #76a1ec;
$toggle-none-active-color: #e1e1dc;
$toggle-none-active-bg: #eeeeee;

//text
$bold-text: 700;
$regular-text: 400;
